

body{
    background-image:url("/website/plaatjes/sneakers backgr.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {  text-align: center;
 color: rgb(167, 44, 22);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}

.logo {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}

.teksthome{
        color: black;
        font-size: 18px

}

.home-titel{
        color:white

}

.navbar {
  width: 60%;
  background-color: #555;
  overflow: auto;
  position: center;  
}


.navbar a {
  float: left;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center; 
}


.navbar a:hover {
  background-color: rgb(124, 9, 9);
}


.navbar a.active {
  background-color: rgb(138, 25, 25);
}


@media screen and (max-width: 900px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; 
  }


